*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    color:white;

    background:
    linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=1600&auto=format&fit=crop');

    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

/* Header */
header{
    width:100%;
    padding:20px 10%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
}

.logo{
    color:#00ffcc;
    font-size:35px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:18px;
}

nav a:hover{
    color:#00ffcc;
}

/* Home */
.home{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.home-content h3{
    font-size:35px;
}

.home-content h1{
    font-size:70px;
    color:#00ffcc;
    margin:20px 0;
}

.home-content h2{
    font-size:40px;
    margin-bottom:20px;
}

.home-content p{
    font-size:22px;
    margin-bottom:30px;
}

/* Button */
.btn{
    padding:12px 30px;
    background:#00ffcc;
    color:black;
    text-decoration:none;
    border-radius:5px;
    display:inline-block;
    margin-top:20px;
}

.btn:hover{
    background:#00ccaa;
}

/* About */
.about-page{
    padding:120px 10%;
    text-align:center;
}

.about-page h1{
    font-size:50px;
    color:#00ffcc;
    margin-bottom:30px;
}

.about-page p{
    font-size:24px;
    line-height:1.8;
}

/* Contact */
.contact-page{
    padding:120px 10%;
    text-align:center;
}

.contact-page h1{
    font-size:50px;
    color:#00ffcc;
    margin-bottom:30px;
}

.contact-info{
    margin-bottom:40px;
}

.contact-info p{
    font-size:22px;
    margin:10px 0;
}

/* Form */
form{
    max-width:600px;
    margin:auto;
}

form input,
form textarea{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:5px;
    font-size:16px;
}

form button{
    padding:12px 30px;
    background:#00ffcc;
    color:black;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:18px;
}

form button:hover{
    background:#00ccaa;
}
